<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step label="Carica i file" [completed]="isUploadComplete">
    <app-file-upload></app-file-upload>
  </mat-step>
  <mat-step label="Collaziona" [completed]="isCollationComplete">
    <app-collation-start></app-collation-start>
  </mat-step>
  <mat-step label="Aggiungi note d'apparato" [optional]="true">
    <app-notes></app-notes>
  </mat-step>
  <mat-step label="Salva i file">
    <app-collation></app-collation>
  </mat-step>
</mat-horizontal-stepper>
