<div>
  <h3>Testo base per la collazione</h3>
  File: <span *ngIf="baseText">{{baseText.name}}</span> <br/>
  <input type="file" (change)="updateBaseText($event)">
</div>
<div>
  <h3>
    Testimoni
  </h3>
  Seleziona file <br>
  <input type="file" multiple (change)="updateWitnesses($event)">
  <ol>
    <li *ngFor="let witness of witnesses; let i=index">
      <p>
        <b>Testimone {{i + 1}}</b> <br>
        Sigla: <input matInput type="text" [value]="witnessesNames[i] || 'Inserisci la sigla'" (change)="updateWitnessName($event, i)"> <br/> 
        File: <span *ngIf="witnesses[i]">{{witnesses[i].name}}</span>
      </p>
      <button class="remove" mat-icon-button (click)="removeWitness(i)" matTooltip="Rimuovi testimone">
        <mat-icon>clear</mat-icon>
      </button>
    </li>
  </ol>
</div>
<div class="center">
  <button
    mat-button
    [disabled]="!baseText || witnesses.length < 1 || (witnesses.length > 0 && !witnesses[0])"
    (click)="uploadFiles()">
    <h3>Carica file</h3>
  </button>
</div>