<div>
  <h3>Testo base per la collazione</h3>
  <input id="baseText" type="file" (change)="updateBaseText()">
</div>
<div>
  <h3>Testimoni</h3> <button (click)="addWitness()">Aggiungi testimone</button>

  <div *ngFor="let witness of witnesses; let i=index">
    <!-- The repeated alias template -->
    <label>
      Testimone:
      <input id="witness-{{i}}" type="file" (change)="updateWitness(i)">
      <button (click)="removeWitness(i)">Rimuovi</button>
    </label>
  </div>
</div>
<div>
  <button (click)="uploadFiles()">Carica file</button>
</div>