header {
  background-color: #7e7e7e;
  color: #ffffff;
  min-height: 5%;
  max-height: 15%;
  padding: 10px 20px;
  text-align: center;
}

#mainContainer {
  display: flex;
  flex-direction: row;
}
.container {
  flex: 1;
  > .smallHeader {
    max-height: 20%;
    background-color: #7e7e7eb4;
    padding: 10px 20px;
    color: #ffffff;
    text-align: center;
  }
  padding: 0;
  > div.doc {
    height: 60vh;
    overflow-y: auto;
    padding: 15px;
  }
  &:first-of-type {
    margin-right: 10px;
  }
  &:last-of-type {
    margin-left: 10px;
  }
}