header {
  background-color: #7e7e7e;
  color: #ffffff;
  min-height: 5%;
  max-height: 15%;
  padding: 10px 20px;
  text-align: center;
}

.container {
  > .smallHeader {
    max-height: 20%;
    background-color: #7e7e7eb4;
    padding: 10px 20px;
    color: #ffffff;
    text-align: center;
  }
  height: 42%;
  padding: 0;
  margin: 0;
  > div.doc {
    overflow-y: auto;
    height: 80%;
    padding: 15px;
  }
}