<mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Tastiera per caratteri SMUFL 
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="keys-header">
      <span class="keys-header_arrows">
        <button
          mat-icon-button
          [disabled]="currentRangeIndex === 0"
          (click)="changeRange('back')">
          <mat-icon>chevron_left</mat-icon>
        </button>
        <button
          mat-icon-button
          [disabled]="currentRangeIndex === rangesArray.length - 1"
          (click)="changeRange('next')">
          <mat-icon>chevron_right</mat-icon>
        </button>
    </span>
    <span>{{currentRange.description}}</span>
    </div>
    <div class="keys">
      <span *ngFor="let glyph of currentRange.glyphs">
        <button
          class="smuflKey"
          mat-button
          matTooltip="{{glyphnames[glyph].description}}"
          (click)="selectChar(glyphnames[glyph].codepoint)">
          {{setGlyph(glyphnames[glyph].codepoint)}}
        </button>
      </span>
    </div>
  </mat-expansion-panel>